################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SapB1ErpWeb/.vs/SapB1ErpWeb/v17
